#search {
	width: 500px;
	margin: 0 auto;
}

#movies {
	width: 500px;
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}

.search_item {
	margin: 0 0;
	border-style: solid;
	border-width: 1px;
	display: block;
	overflow: auto;
	cursor: pointer;
}

.search_item:hover {
	background-color: #66BBEE;
	font-weight: bold;
}

.search_item #title {
	font-size: 1.3em;
}

.search_item #thumb {
	text-align: right;
	float: right;
}

.search_item img {
	width: 45px;
}

.selected { 
    background-color: #66BBEE;
}
